/* -------------------------- ANIMATION DECLARATION ------------------------- */

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {

    0% {
        transform: translate(-500px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}



@keyframes pulse {
    50% {
        box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.75);
    }

    100% {
        box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0);
    }
}

/* -------------------------------- MAIN PAGE ------------------------------- */

.aboutHome {
    position: relative;
    z-index: 0;
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    overflow: hidden
}

.aboutModal {
    background: conic-gradient(#FFDD33 0 7%, #FFA602 0 21%, #E21B3C 0 36%, #ed51aa 0 50%, #864CBF 0 64%, #0572B9 0 78%, #66BF39 0 93%, #FFDD33 0 100%);
    min-height: 200vh;
    position: absolute;
    height: 300vh;
    width: 300vw;
    top: -105%;
    left: -85%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 3s;

    .mascot {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spin 3s;
    }
}

.aboutDescription {
    h1 {
        animation: slide 2s;
        font-size: 10rem;
    }

    h3 {
        font-size: 2rem;
        animation: slide 2.7s;
    }

    .begin {
        margin-top: 30px;
        animation: slide 2.5s;

        a {
            width: fit-content;
            text-decoration: none;
            background-color: #ff9000;
            color: #fff;
            text-shadow: 2px 2px 2px #00000020;
            font-size: 1.4rem;
            font-family: Mikado, serif;
            border: 3px solid #ffffff50;
            text-transform: uppercase;
            border-radius: 1em;
            padding: 10px 15px;
            box-shadow: 2px 5px #00000030;
            margin-top: 2vh;
            animation: pulse 1.5s ease-out infinite;
            animation-delay: 2.5s;

            &:hover {
                transition: 0.5s;
                background: #ff9000;
                box-shadow: 0 0 5px #ff9000, 0 0 25px #ff9000, 0 0 50px #ff9000, 0 0 200px #ff9000;
            }
        }
    }
}