@use "./setup";

// @import url(../assets/Mikado\ Bold.otf);


// @font-face {
//     font-family: 'Mikado', sans-serif;;
//     src: url(../fonts/MikadoBold.ttf);
// }

html {
    font-family: Mikado;
    font-size: 62.5%;
}

h1 {
    color: #46178f;
        text-transform: uppercase;
        font-size: 3.5em;
        margin: 2em 0 0 0;
        line-height: 1;
        padding-bottom: 1vh;
    }

img {
    max-width: 200px;
    max-height: 200px;
}

select, input, button {
    background-color: #ff9000;
    color: #fff;
    text-shadow: 2px 2px 2px #00000020;
    font-size: 1.4em;
    font-family: Mikado ,serif;
    border: 3px solid #ffffff50;
    text-transform: uppercase;
    border-radius: 1em;
    padding: .5em 1.5em;
    box-shadow: 2px 5px #00000030;
    margin-top: 2vh;
    }

a {
    list-style: none;
    text-decoration: none;
}
