/* ---------------------------- RESPONSIVE DESIGN --------------------------- */

@media (max-width: 1050px) {
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

    .aboutModal {
        background: conic-gradient(#FFDD33 0 7%, #FFA602 0 21%, #E21B3C 0 36%, #ed51aa 0 50%, #864CBF 0 64%, #0572B9 0 78%, #66BF39 0 93%, #FFDD33 0 100%);
        min-height: 200vh;
        position: absolute;
        height: 294vh;
        width: 271vw;
        top: -105%;
        left: -85%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spin 3s;
    }

    input {
        margin-top: 25vh;
    }

    .aboutDescription {
        transition: 2s ease-in;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 100px;
        text-align: center;

        .begin {
            text-align: center;
        }
    }

    .charGen .welcomeAvatar .speechBubble {
        width: 40%;
        color: #0572B9;
        position: absolute;
        background: #00aabb;
        border-radius: 0.4em;
        top: 240px;
        left: 185px;
        padding: 10px;
        background: rgba(24, 23, 44, 0.1882352941);
        animation: TopSlide 1s ease-in;
        text-transform: uppercase;
        z-index: 5;
    }

    .charGen .welcomeAvatar .logoAvatar-Hello {
        position: absolute;
        top: 245px;
        right: 185px;
    }

    .userCreate {
        form {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 820px) {
    /* all of our styles for TABLET devices will go within this breakpoint */

    .charGen .welcomeAvatar .speechBubble {
        width: 40%;
        color: #0572B9;
        position: absolute;
        background: #00aabb;
        border-radius: 0.4em;
        top: 241px;
        left: 127px;
        padding: 10px;
        background: rgba(24, 23, 44, 0.1882352941);
        animation: TopSlide 1s ease-in;
        text-transform: uppercase;
        z-index: 5;
    }

    .charGen .welcomeAvatar .logoAvatar-Hello {
        position: absolute;
        top: 270px;
        right: 116px;
    }

    .userCreate {
        form {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 570px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */

    select {
        font-size: 2.5rem;
    }

    .charGen .welcomeAvatar .speechBubble {
        width: 70%;
        color: #0572B9;
        position: absolute;
        background: #00aabb;
        border-radius: 0.4em;
        top: 159px;

        right: 0;
        left: 0;
        margin: auto;
        padding: 10px;
        background: rgba(24, 23, 44, 0.1882352941);
        animation: TopSlide 1s ease-in;
        text-transform: uppercase;
        z-index: 5;

        &::after {
            display: none;
        }
    }

    .charGen {
        font-size: 2rem;

        .welcomeAvatar .logoAvatar-Hello {
            position: absolute;
            top: 270px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }

    .userCreate {
        form {
            display: flex;
            flex-direction: column;
        }
    }
}